.container {
  display: flex;
  align-items: baseline;
  border: 2px solid #333;
  margin: 20px;
  height: 200px; 
}

.item {
  background: lightblue;
  border: 1px solid #333;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

