*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(171, 171, 171);
    display: flex;
    flex-direction: column;
    gap: 6rem;
    
    
}
.whole{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1rem;
    margin-left:1rem;
}
header{
    background-color: rgb(26, 35, 56);
    color: aliceblue;
    height: 15rem;
    
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    margin-top: 2rem;
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
    table {
      width: 100%;
      border-collapse: collapse;
      text-align: center;
    }
    th, td {
      border: 2px solid #000;
      padding: 6px;
      font-size: 14px;
    }
    thead th {
      background-color: #e6f2e6; 
    }
    tbody th {
      background-color: #f5f5f5; 
      text-align: left;
    }
    .highlight {
      background-color: #ffff99;
    }
    tfoot td {
      background-color: #f0f0f0;
      font-weight: bold;
      text-align: center;
    }