h1{
    text-align: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chessboard {
  display: flex;
  flex-wrap: wrap;
  height: 480px;
  width: 480px;
  border: 2px solid black ;
}

.odd{
    background: black;
    width: 60px;
    height: 60px;
}

.even {
		width: 60px;
    height: 60px;
}